@import "tailwindcss";

@theme {
  /* --color-background-card: var(--background-card); */
  --color-background-main: var(--background-main);
  --color-brand-accent: var(--brand-accent);
  /* --color-background-surface: var(--background-surface); */
  --color-border-subtle: var(--border-subtle);
  --color-brand-hover: var(--brand-hover);
  --color-brand-light: var(--brand-light);
  --color-brand-primary: var(--brand-primary);
  --color-text-disabled: var(--text-disabled);
  --color-text-high: var(--text-high-emphasis);
  --color-text-medium: var(--text-medium-emphasis);

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

:root {
  --background-card: #23262c;
  --background-main: #0b0e14;
  --background-surface: #1e293b;
  --border-subtle: #3c3e43;
  --brand-hover: #976cf7;
  --brand-light: #c5aefb;
  --brand-primary: #6a2acc;
  --brand-accent: #c3ff1f;

  --text-disabled: #54565b;
  --text-high-emphasis: #ffffff;
  --text-medium-emphasis: #a5a9b1;

  --font-primary:
    "Jetbrains Mono", "Roboto Mono", "Lexend Deca", "Open Sans Jakarta",
    monospace, "Inter";
  --font-secondary: "Inter", sans-serif;
}

body {
  background-color: var(--background-main);
  color: var(--text-high-emphasis);
  font-family: var(--font-primary);
}
